{% load i18n %}
{% load allauth %}
{% load socialaccount %}
{% get_providers as socialaccount_providers %}
{% if socialaccount_providers %}
    {% if not SOCIALACCOUNT_ONLY %}
    <div class="divider">or continue with</div>
    {% endif %}
{% endif %}

<div class="flex flex-col items-center">
    {% for provider in socialaccount_providers %}
        <a href="{% provider_login_url provider.id process=process %}" class="w-full">
            <button class="btn btn-primary w-full rounded-lg bg-primary text-white py-2 font-medium hover:bg-primary-dark transition">
                <span class="icon-[tabler--brand-google]"></span> {{ provider.name }}
            </button>
        </a>
    {% endfor %}
</div>

