{% load static %}
<!DOCTYPE html>
<html data-theme="gourmet" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="AI-powered photo discovery for events. Photographers share galleries, guests find their pictures.">
    <meta name="keywords" content="photography, event photos, facial recognition, photo sharing">
    <link rel="stylesheet" href="{% static 'css/output.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&family=Playwrite+IT+Moderna:wght@100..400&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet"/>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.css">
    <!-- flyonui fonts -->
    <!-- Corporate : 'Public Sans' -->
    <link href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet"/>
    <!-- Luxury : 'Archivo' -->
    <link href="https://fonts.googleapis.com/css?family=Archivo:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet"/>
    <!-- Soft : 'Montserrat' -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet"/>
    <link href="https://cdn.jsdelivr.net/npm/lightgallery@2.7.1/css/lightgallery-bundle.min.css" rel="stylesheet">
    
  <title>{% block title %}PhotoFlow{% endblock %}</title>
</head>
<body>
    {% if not hide_navbar %}
    {% include "navbar.html" %}
    {% endif %}
    
    {% if messages %}
    <script id="messages-data" type="application/json">
        [{% for message in messages %}
            {"message": "{{ message|escapejs }}", "tags": "{{ message.tags }}"}
            {% if not forloop.last %},{% endif %}
        {% endfor %}]
    </script>
{% endif %}


<!-- <main class="p-6" style="background-image: url('static/images/bg-2.jpg');"> -->
    <main class="p-6">
        {% block content %}
        {% endblock %}
    </main>
    
    <script src="{% static 'js/base.js' %}"></script>
    <script src="{% static 'js/flyonui.js' %}"></script>
    <script src="{% static 'js/theme-toggle.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.js"></script>
    
    {% block scripts %} {% endblock %}
</body>
</html>