{% extends "base.html" %}
{% load static %}

{% block content %}
<section class="container mx-auto px-4 mt-13 max-w-6xl">
    <!-- Event Title -->
    <h1 class="text-3xl font-bold mb-6">{{ event.name }}</h1>

    <!-- Share Album Section -->
    <div class="shadow rounded-lg p-6 mb-8 border dark:border-0.5">
        <h2 class="text-2xl font-semibold mb-4 ">Share Album</h2>
        <div class="w-12 h-1 bg-primary -mt-1.5 mb-6"></div>
        {% if share_url %}
            <div class="flex flex-col sm:flex-row sm:items-center gap-3 mb-2">
                <div class="font-medium">Album Selection Link:</div>
                <div class="flex-1 break-all">
                    <a href="{{ share_url }}" target="_blank" class="text-blue-600 hover:underline">{{ share_url }}</a>
                </div>
                <button class="btn btn-primary btn-sm copy-button" onclick="copyShareUrl('{{ share_url }}')">Copy Link</button>
            </div>
            <p class="text-sm mt-1">Share this link to your customer for photo selection.</p>
        {% else %}
            <form method="POST" action="{% url 'share_album' event_id=event.event_id %}">
                {% csrf_token %}
                <button type="submit" class="btn btn-primary">Generate Shareable Link</button>
            </form>
        {% endif %}
    </div>

    <!-- Selected Photos Section -->
    <div class="mb-6">
        <h2 class="text-2xl font-semibold mb-4 ">Customer Selected Photos</h2>
        {% if photos %}
            {% if customer_selected_photos %}
                <div class="mb-6 grid md:flex lg:flex items-center gap-6">
                    <p>Number of selected photos : <strong class="border border-2 border-primary p-1 rounded-full">{{ number_of_selected_photos }}</strong></p>
                    <button type="button" onclick="refresh()">Show Selected Photos</button>
                    <a href="{% url 'download_selected_photos' event_id=event.event_id %}" class="btn">Download All Selected Photos  <span class="icon-[tabler--file-type-zip] size-5 p-1 rtl:rotate-180"></span></a>
                    
                </div>
            {% endif %}

            <!-- Photo Grid -->
            <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6">
                {% for photo in photos %}
                    <div class="relative bg-white shadow-sm rounded overflow-hidden {% if photo.customer_selected %}border-2 border-green-500{% endif %}">
                        
                        <!-- Display Number Badge -->
                        <div class="absolute top-2 left-2 bg-primary bg-opacity-65 text-white text-xs px-2 py-1 rounded">
                            {{ photo.display_number }}
                        </div>

                        <!-- Download Icon -->
                        <a href="{{ photo.image.url }}" download class="absolute top-2 right-2">
                            <span class="icon-[tabler--download] bg-primary size-5 p-1 shadow-md rtl:rotate-180"></span>
                        </a>

                        <!-- Image -->
                        <img src="{{ photo.image.url }}" alt="Photo" class="w-full h-auto">

                        <!-- Customer Selected Label -->
                        {% if photo.customer_selected %}
                            <p class="text-center text-green-600 text-sm py-2">Selected by Customer</p>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>

            <!-- Pagination -->
            <div id="pagination-controls" class="mt-10 flex justify-center">
                <div class="flex flex-wrap items-center gap-2">
                    {% if photos.has_previous %}
                        <a href="{% url 'share_album' event_id=event.event_id %}?page=1" class="btn btn-primary btn-sm">« First</a>
                        <a href="{% url 'share_album' event_id=event.event_id %}?page={{ photos.previous_page_number }}" class="btn btn-primary btn-sm">Previous</a>
                    {% endif %}

                    {% if photos.number > 4 %}
                        <a href="{% url 'share_album' event_id=event.event_id %}?page=1" class="btn btn-text btn-square">1</a>
                        <span class="btn btn-text btn-square pointer-events-none">...</span>
                    {% endif %}

                    {% for num in photos.paginator.page_range %}
                        {% if num >= photos.number|add:'-2' and num <= photos.number|add:'2' %}
                            <a href="{% url 'share_album' event_id=event.event_id %}?page={{ num }}" class="btn btn-text btn-sm btn-square {% if photos.number == num %}text-bg-primary aria-[current='page']{% endif %}" {% if photos.number == num %}aria-current="page"{% endif %}>{{ num }}</a>
                        {% endif %}
                    {% endfor %}

                    {% if photos.number < photos.paginator.num_pages|add:'-3' %}
                        <span class="btn btn-text btn-square pointer-events-none">...</span>
                        <a href="{% url 'share_album' event_id=event.event_id %}?page={{ photos.paginator.num_pages }}" class="btn btn-text btn-square">{{ photos.paginator.num_pages }}</a>
                    {% endif %}

                    {% if photos.has_next %}
                        <a href="{% url 'share_album' event_id=event.event_id %}?page={{ photos.next_page_number }}" class="btn btn-primary btn-sm">Next</a>
                        <a href="{% url 'share_album' event_id=event.event_id %}?page={{ photos.paginator.num_pages }}" class="btn btn-primary btn-sm">Last »</a>
                    {% endif %}
                </div>
            </div>
        {% else %}
            <p class="text-gray-600">No photos available for this event.</p>
        {% endif %}
    </div>

    <!-- Back Link -->
    <div class="bottom-0 right-0 w-fit ml-auto p-4">
    <a href="{% url 'event_detail' event_id=event.event_id %}" class="text-primary hover:underline block">
      <span class="text-primary flex items-center justify-center p-2">
        <span class="icon-[tabler--arrow-left] size-4 rtl:rotate-180"></span>Back to Event Details
      </span>
    </a>
  </div>
</section>
{% endblock %}

{% block scripts %}
<script>
    function copyShareUrl(url) {
        navigator.clipboard.writeText(url).then(() => {
            const button = document.querySelector('.copy-button');
            if (button) {
                button.textContent = 'Copied!';
                button.classList.remove('btn-primary');
                button.classList.add('btn-success');
                setTimeout(() => {
                    button.textContent = 'Copy Link';
                    button.classList.remove('btn-success');
                    button.classList.add('btn-primary');
                }, 4000);
            }
        }).catch(err => {
            console.error('Failed to copy URL:', err);
            alert('Failed to copy the URL. Please copy it manually.');
        });
    }

    
    function refresh(){
        window.location.reload()
    }
</script>
{% endblock %}
