{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="shadow-lg bg-inherit rounded-lg border border-blue-50 dark:border-none  p-6">
    <form method="post" enctype="multipart/form-data" id="upload_photos" class="space-y-6" action="{% url 'upload_photos' %}">
      {% csrf_token %}
      <div class="flex flex-col items-center justify-center gap-2 lg:gap-6">
        <!-- Upload data-->
        <input
          type="file"
          id="upload_data"
          name="upload_data"
          accept="image/*"
          class="hidden input"
          multiple
        />
        <label
          for="upload_data"
          class="cursor-pointer btn btn-gradient btn-primary btn-lg p-2"
        >
          Select Photos
        </label>
      
      <div class="flex w-full items-center justify-center pb-3">
        <button
          type="submit" id="btn"
          class="cursor-pointer btn btn-gradient btn-primary btn-lg btn-wide p-2"
        >
          Upload
        </button>
      </div>
  
      <!-- Loading Spinner -->
      <!-- <div class="flex justify-center">
        <span class="loading hidden loading-ring loading-lg"></span>
      </div> -->
    
      <div id="progressBarContainer" class="progress h-6 hidden w-full">
        <div id="progressBar" class="progress-bar w-0 font-light">0%</div>
    </div>

    <!-- Success Notification -->
    <p id="uploadSuccess" class="hidden text-green-500">Upload Successful!</p>
    </form>
  </div>
{% endblock %}
{% block scripts %}
<script src="{% static 'js/upload_photos.js' %}"></script>
{% endblock %}