body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header, img {
    text-align: center;
    padding: 5px;
    height: 200px;
    width: 200px;
}

.form-container {
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.custom-file-upload {
    display: inline-block;
    padding: 10px 20px;
    color: #fff;
    background-color: #007bff;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px 0;
}

.upload-btn {
    background-color: #28a745;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.matches-section {
    padding: 20px;
    text-align: center;
}

.matches-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.match-item {
    margin: 10px;
}

.match-photo {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}
.hidden-input {
    display: none;
}
#clear-preview {
    background-color: #ff4d4d; /* Light red color */
    color: white; /* White text */
    border: none; /* No border */
    padding: 10px 20px; /* Padding for the button */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Pointer cursor on hover */
    font-size: 14px; /* Font size */
    font-weight: bold; /* Bold text */
    transition: background-color 0.3s ease; /* Smooth transition for hover effect */
}

#clear-preview:hover {
    background-color: #cc0000; /* Darker red on hover */
}

#clear-preview:active {
    background-color: #990000; /* Even darker red on click */
}

.logo {
    font-size: 48px;
    font-weight: bold;
    color: #007BFF;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
}
.logo span {
    display: inline-block;
    margin-top: 5px;
}
.subtitle {
    font-size: 18px;
    color: #555;
    margin-top: 10px;
    font-style: italic;
}