{% extends "base.html" %}
{% load i18n %}
{% load allauth %}
{% load account %}
<title>
    {% trans "Password Reset" %}
</title>
{% block content %}
<div class="mt-12 flex flex-col">
    <h1 class="mt-4 text-xl text-semibold">
        {% trans "Password Reset" %}
    </h1>
    <span class="w-12 h-1 bg-primary mb-3 mt-2"></span>
    {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
    {% element p %}
        {% blocktrans %}We have sent you an email. If you have not received it please check your spam folder. Otherwise contact us if you do not receive it in a few minutes.{% endblocktrans %}
    {% endelement %}
</div>
{% endblock content %}
