{% extends "base.html" %}
{% load i18n %}
{% load allauth %}

{% block head_title %}
    {% trans "Change Password" %}
{% endblock head_title %}

{% block content %}
<div class="max-w-xl mx-auto px-4 py-16 text-center mt-12">
    
    {% element h1 %}
        <span class="text-3xl font-semibold ">
            {% trans "Password Changed Successfully" %}
        </span>
    {% endelement %}
    
    {% element p %}
        <p class="mt-4 text-base">
            {% trans 'Your password is now changed. You can continue browsing securely.' %}
        </p>
    {% endelement %}
    
    <a href="{% url 'account_login' %}" class="inline-block mt-8 text-primary hover:underline">
        {% trans "Return to Login" %}
    </a>
</div>
{% endblock content %}
