{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div class="flex justify-center items-center mt-12">
    <div class=" p-8 rounded-lg shadow-lg w-full max-w-md ">
        <h2 class="text-2xl text-center  font-semibold mb-4">{% trans "Change Password" %}</h2>

        <form method="POST" class="space-y-4 text-left">
            {% csrf_token %}
        
            {% for field in form %}
                <div class="mb-4">
                    <label for="{{ field.id_for_label }}" class="block label-text text-md font-medium">
                        {{ field.label }}
                    </label>
        
                    <input 
                        type="{{ field.field.widget.input_type }}" 
                        name="{{ field.name }}" 
                        id="{{ field.id_for_label }}" 
                        class="input input-bordered w-full" 
                        placeholder=""
                        required
                    >
        
                    {% if field.errors %}
                        <p class="text-red-500 text-xs mt-1">{{ field.errors.0 }}</p>
                    {% endif %}
                </div>
            {% endfor %}
        
            <button type="submit" class="btn btn-primary w-full">
                Update Password
            </button>
        </form>
        
        

        <!-- Forgot Password Link -->
        <div class="mt-4 text-center">
            <a href="{% url 'account_reset_password' %}" class="text-sm text-center">
                {% trans "Forgot Password?" %}
            </a>
        </div>

        <!-- Back to Settings -->
        <div class="mt-4">
            <a href="{% url 'settings' %}" class="text-sm ">
                ← {% trans "Back to Settings" %}
            </a>
        </div>
    </div>
</div>
{% endblock %}
