{% extends "base.html" %}
{% load i18n %}
{% load allauth %}

{% block head_title %}
    {% trans "Change Password" %}
{% endblock head_title %}

{% block content %}
<div class="max-w-xl mx-auto px-4 mt-12">
    
        {% if token_fail %}
            <h1 class="text-2xl font-bold text-center">Bad Token</h1>
        {% else %}
        <h1 class="text-2xl font-bold text-center">Change Password</h1>
        {% endif %}
    

    {% if token_fail %}
        {% url 'account_reset_password' as passwd_reset_url %}
        {% element p class="text-red-600 text-sm text-center" %}
            {% blocktrans %}
                The password reset link was invalid, possibly because it has already been used.  
                Please request a <a href="{{ passwd_reset_url }}" class="text-blue-600 underline">new password reset</a>.
            {% endblocktrans %}
        {% endelement %}
    {% else %}
        {% element form method="post" action=action_url class="space-y-6" %}
            {% slot body %}
                {% csrf_token %}
                {{ redirect_field }}

                {% for field in form %}
                    <div>
                        <label for="{{ field.id_for_label }}" class="block text-sm font-medium mb-1">
                            {{ field.label }}
                        </label>

                        <input 
                            type="{{ field.field.widget.input_type }}" 
                            name="{{ field.name }}" 
                            id="{{ field.id_for_label }}" 
                            class="input w-full rounded-md mb-2" 
                            placeholder=""
                            required
                        >

                        {% if field.errors %}
                            <p class="text-red-500 text-sm">{{ field.errors.0 }}</p>
                        {% endif %}
                    </div>
                {% endfor %}
            {% endslot %}

            {% slot actions %}
                <div class="text-center pt-4">
                    <button class="btn btn-primary rounded-md px-6 mt-4 text-white transition" type="submit" name="action">
                        {% trans 'Change Password' %}
                    </button>
                </div>
            {% endslot %}
        {% endelement %}
    {% endif %}
</div>
{% endblock content %}
