{% extends "base.html" %}
{% load allauth i18n %}
{% block head_title %}
    {% trans "Signup" %}
{% endblock head_title %}
{% block content %}
<div class="flex items-center justify-center p-4 mt-12">
    <div class="rounded-2xl p-8 w-full max-w-md  shadow-lg shadow-gray-600">
        <h1 class="text-2xl font-semibold text-center mb-4">{% trans "Sign Up" %}</h1>


        <p class="text-sm text-center mb-4">
            {% trans "Already have an account?" %}
            <a class="text-primary font-medium" href="{{ login_url }}">{% trans "Sign in" %}</a>.
        </p>

        {% if form.non_field_errors %}
            <div class="bg-red-100 text-red-600 p-3 rounded-lg mb-4">
                {% for error in form.non_field_errors %}
                    <p>{{ error }}</p>
                {% endfor %}
            </div>
        {% endif %}
        
{% if not SOCIALACCOUNT_ONLY %}
    {% url 'account_signup' as signup_url %}
    <form method="post" action="{{ signup_url }}" class="space-y-4">
        {% csrf_token %}
        <div>
            <label for="id_email" class="block text-sm p-1">{% trans "Email" %}</label>
            <input type="email" name="email" id="id_email" required
                        class="w-full px-4 py-2 border rounded-lg focus:ring-2 focus:ring-primary focus:outline-none dark:border-gray-600 dark:text-white" />
                        {% if form.email.errors %}
                        <p class="text-red-500 text-sm mt-1">
                            {{ form.email.errors.0 }}
                        </p>
                    {% endif %}
        </div>
        <div>
            <label for="id_username" class="block text-sm p-1">{% trans "Username" %}</label>
            <input type="text" name="username" id="id_username" required
                        class="w-full px-4 py-2 border rounded-lg focus:ring-2 focus:ring-primary focus:outline-none  dark:border-gray-600 dark:text-white" />
                        {% if form.username.errors %}
                        <p class="text-red-500 text-sm mt-1">
                            {{ form.username.errors.0 }}
                        </p>
                    {% endif %}
        </div>
        <div>
            <label for="id_password1" class="block text-sm p-1">{% trans "Password" %}</label>
            <input type="password" name="password1" id="id_password1" required
                    class="w-full px-4 py-2 border rounded-lg focus:ring-2 focus:ring-primary focus:outline-none dark:border-gray-600 dark:text-white" />
                    {% if form.password1.errors %}
                    <p class="text-red-500 text-sm mt-1">
                        {{ form.password1.errors.0 }}
                    </p>
                {% endif %}
        
                </div>
        <div>
            <label for="id_password2" class="block text-sm p-1">{% trans "Confirm password" %}</label>
            <input type="password" name="password2" id="id_password2" required
                    class="w-full px-4 py-2 border rounded-lg focus:ring-2 focus:ring-primary focus:outline-none dark:border-gray-600 dark:text-white" />
                    {% if form.password2.errors %}
                    <p class="text-red-500 text-sm mt-1">
                        {{ form.password2.errors.0 }}
                    </p>
                {% endif %}
        
                </div>
        {{ redirect_field }}

        <button type="submit"
                    class="w-full bg-primary text-white py-2 rounded-lg font-medium hover:bg-primary-dark transition">
                    {% trans "Sign Up" %}
                </button>

    </form>
    
{% endif %}

{% if SOCIALACCOUNT_ENABLED %}
    {% include "socialaccount/snippets/login.html" with page_layout="entrance" %}
{% endif %}
{% endblock content %}
</div>
</div>
    
